@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	overflow-x: hidden;
	font-family: system-ui, sans-serif;
	-webkit-text-size-adjust: 100%;
	touch-action: manipulation;
}

input,
select,
textarea,
button {
	font-size: 16px;
}

.shizuru-regular {
	font-family: 'Shizuru', system-ui;
	font-weight: 400;
	font-style: normal;
}

.wide-button {
	margin: 0 auto;
	width: 100%;
	max-width: 25rem;
	display: flex;
	padding: 1rem 0 2rem 0;
}
